#pagination_div .para1
{
 font-size:45px;
 font-weight:bold;
 color:#585858;
}
#pagination_div .para2
{
 margin-top:20px;
 font-size:25px;
 font-weight:bold;
 color:#585858;
}
#tota_page_div
{
 margin-top:20px;
}
#tota_page_div input[type="button"]
{
 background-color:#585858;
 border:none;
 margin:2px;
 color:white;
 height:35px;
 width:35px;
 border-radius:50%;
}